<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WorkOrderGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="error.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="1"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %d{yyyy-MM-dd HH:mm:ss,fff zzz} %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <appSettings>
    <add key="mailto" value="yancyn@gmail.com"/>
    
    <!-- in second unit-->
    <add key="interval" value="300"/>
  </appSettings>
  <userSettings>
    <WorkOrderGUI.Properties.Settings>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="LongDate" serializeAs="String">
        <value>dd/MM/yyyy HH:mm</value>
      </setting>
      <setting name="ShortDate" serializeAs="String">
        <value>dd/MM/yyyy</value>
      </setting>
      <setting name="Svn" serializeAs="String">
        <value />
      </setting>
      <setting name="SvnPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Buffer" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Proxy" serializeAs="String">
        <value>co-proxy-003</value>
      </setting>
      <setting name="ProxyUserName" serializeAs="String">
        <value>AP\yeang-shing.then</value>
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Language" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="Uom" serializeAs="String">
        <value>British</value>
      </setting>
      <setting name="vCard" serializeAs="String">
        <value />
      </setting>
      <setting name="Gmail" serializeAs="String">
        <value />
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Classic</value>
      </setting>
      <setting name="NumberFormat" serializeAs="String">
        <value>Digit</value>
      </setting>
    </WorkOrderGUI.Properties.Settings>
  </userSettings>
</configuration>