<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="error.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="1"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %d{yyyy-MM-dd HH:mm:ss,fff zzz} %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <appSettings>
    <add key="gmail" value="yancyn"/>
    <add key="password" value=""/>
    <add key="language" value="en-US"/>
    <add key="uom" value="ft"/>
    <add key="longDate" value="dd/MM/yyyy HH:mm"/>
    <add key="shortDate" value="dd/MM/yyyy"/>
    <add key="svn" value=""/>
    <add key="svnPassword" value="KG6eH9dT7vK8"/>

    <add key="proxy" value="co-proxy-003"/>
    <add key="proxyUserName" value="yeang-shing.then"/>
    <add key="proxyPassword" value=""/>
  </appSettings>
</configuration>